// NOTE: Mixin for headlines.
@mixin headline($level)  {
    @if $level == 'h1' {
        font-size: $font_size_huge;
        line-height: 1.38;
    } @else if $level == 'h2' {
        font-size: $font_size_xxlarge;
        line-height: 1.5;
    } @else if $level == 'h3' {
        font-size: $font_size_xlarge;
        line-height: 1.6;
    } @else if $level == 'h4' {
        font-size: $font_size_large;
        line-height: 1.67;
    } @else if $level == 'h5' {
        font-size: $font_size_basic;
        line-height: 1.63;
    }
}

// FIXME: delete nesting after v70 styling is seperate
.v7 {
    // NOTE: HEADLINES
    // NOTE: Sometimes we are using classes which only imitate our headlines styles.
    h1, h2, h3, h4, h5,
    .h1, .h2, .h3, .h4, .h5 {
        display: block;
        color: inherit;
        font-family: $font_family_secondary;
        font-weight: $font_weight_bold;

        &.v7-headline-huge {
            font-size: 60px;
            letter-spacing: 0.39px;
            line-height: 0.81;
        }

        & + p {
            margin-top: spacer(1);

            @include breakpoint(tablet) {
                margin-top: spacer(2);
            }
        }
    }

    h3, h4, h5,
    .h3, .h4, .h5 {
        & + .small {
            margin-top: spacer(1);
        }
    }

    h1, .h1 {
        @include headline(h2);

        @include breakpoint(tablet) {
            @include headline(h1);
        }
    }

    h2, .h2 {
        @include headline(h4);

        @include breakpoint(tablet) {
            @include headline(h2);
        }
    }

    h3, .h3 {
        @include headline(h5);

        @include breakpoint(tablet) {
            @include headline(h3);
        }
    }

    h4, .h4 {
        @include headline(h5);

        @include breakpoint(tablet) {
            @include headline(h4);
        }
    }

    h5, .h5 {
        @include headline(h5);
    }

    p, ul, strong {
        color: $color_slate;
        font-size: $font_size_basic;
        line-height: 1.63;

        @include breakpoint(tablet) {
            font-size: $font_size_large;
            line-height: 1.56;
        }
    }

    .small {
        font-size: $font_size_basic;
        line-height: 1.63;
    }

    .xsmall {
        font-size: $font_size_small;
        line-height: 1.71;
        margin: 0;

        @include breakpoint(tablet) {
            font-size: $font_size_basic;
            line-height: 1.63;
        }
    }

    .white,
    .white p {
        color: $color_white;
    }

    hr {
        width: 100%;
        height: 1px;
        border: 0;
        background-color: $color_fog;
    }

    .v7-heading-small {
        font-size: $font_size_small;
    }

    .v7-heading-basic {
        font-size: $font_size_basic;
    }

    .v7-heading-large {
        font-size: $font_size_large;
    }

    .v7-heading-xxxlarge {
        font-size: $font_size_xxxlarge;
    }

    .v7-heading-large-md-xlarge {
        font-size: $font_size_large;

        @include breakpoint(tablet) {
            font-size: $font_size_xlarge;
        }
    }

    .v7-heading-xlarge-huge {
        font-size: $font_size_xlarge;

        @include breakpoint(tablet) {
            font-size: $font_size_huge;
        }
    }

    .v7-tag {
        display: inline-block;
        color: $color_grey;
        font-size: 10px;
        text-transform: uppercase;
    }

    .v7-heading-large-lg-xxlarge {
        font-size: $font_size_large;

        @include breakpoint(large_tablet) {
            font-size: $font_size_xxlarge;
        }
    }

    .v7-text-cta {
        color: $color_ocean;
    }

    .v7-text-underlined {
        text-decoration: underline;
    }
}

.v7-text-grey {
    color: $color_grey;
}

.text-center {
    text-align: center;
}

.text-center-sm-only {
    @include breakpoint(only_phone) {
        text-align: center;
    }
}

.text-center-md {
    @include breakpoint(max_large_tablet) {
        text-align: center;
    }
}

.text-left-lg {
    @include breakpoint(large_tablet) {
        text-align: left;
    }
}
