.main-footer-main {
    .v7 & h4 {
        line-height: 1.5;

        @include breakpoint(tablet) {
            font-size: $font_size_basic;
        }

        @include breakpoint(large_tablet) {
            margin-bottom: spacer(1);
            line-height: 2;
        }
    }
}
