.v7-checkbox-container {
    position: relative;
}

.v7-checkbox-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid $color_fog;
    border-radius: 2px;
    margin: -1px spacer(1) 0 0;
    transition: all $transition_slow;
    vertical-align: middle;

    &:before {
        position: relative;
        top: -5px;
        left: -1px;
        color: $color_white;
        font-size: $font_size_small;
        font-family: "Material Icons";
        content: "\e876";
    }
}

.v7-checkbox-label {
    display: flex;
    align-items: center;
}

.v7-checkbox-icon,
.v7-checkbox-description {
    cursor: pointer;
}

.v7-checkbox-description {
    font-size: $font_size_small;
}

.v7-checkbox-link {
    color: $color_ocean;

    &:hover {
        color: $color_blue;
    }
}

.v7-checkbox:checked ~ .v7-checkbox-icon {
    border-color: $color_ocean;
    background: $color_ocean;
}

.v7-checkbox-left {
    margin-bottom: spacer(4);
    text-align: left;
}
