// BASE COMPONENT:
//	.v7-btn-group

.v7-btn-group {
    margin-top: spacer(3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include breakpoint(tablet) {
        margin-top: spacer(5);
        flex-direction: row;
    }

    .v7-header & {
        @include breakpoint(tablet) {
            margin-top: spacer(4);
        }

        @include breakpoint(large_tablet) {
            justify-content: flex-start;
        }
    }

    .v7-header-center & {
        @include breakpoint(large_tablet) {
            justify-content: center;
        }
    }

    .v7-pricing-cards-section & {
        margin-top: spacer(5);

        @include breakpoint(tablet) {
            margin-top: spacer(3);
        }
    }

    .v7-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include breakpoint(tablet) {
            flex-direction: row;
            margin-top: 0;
        }

        &:not(:first-child) {
            margin-top: spacer(2);

            @include breakpoint(tablet) {
                margin-top: spacer(0);
                margin-left: spacer(3);
            }
        }
    }
}
