// BASE COMPONENT
//  .v7-tile-container
//  .v7-tile
//  .v7-tile-copy

// ELEMENTS
//  .v7-tile-image
//  .v7-tile-title

.v7-tile-container {
    @include breakpoint(tablet) {
        @include css-grid(3);
        grid-row-gap: $main_gap;
    }

    @include breakpoint(large_tablet) {
        grid-column-gap: 35px;
        grid-row-gap: 35px;
    }

    @include breakpoint(desktop) {
        grid-template-columns: repeat(3, 300px);
        justify-content: center;
    }
}

.v7-tile-container-double {
    @include breakpoint(tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @include breakpoint(large_tablet) {
        max-width: 970px;
    }
}

.v7-tile-container-features {
    @include breakpoint(tablet) {
        @include css-grid(3);
        grid-row-gap: $main_gap;
    }
}

.v7-tile-container-logos {
    @include breakpoint(tablet) {
        @include css-grid(4, 15px);
        grid-row-gap: 15px;
    }

    @include breakpoint(desktop) {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

.v7-tile-container-quadruple {
    @include breakpoint(tablet) {
        @include css-grid(4);
        grid-row-gap: $main_gap;
    }
}

.v7-tile-container-hover {
    @include breakpoint(tablet) {
        @include css-grid(2, 20px);
        grid-row-gap: 20px;
    }

    @include breakpoint(large_tablet) {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: $main_gap;
        grid-row-gap: $main_gap;
    }

    @include breakpoint(desktop) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.v7-tile {
    @include breakpoint(only_phone) {
        @include full_width_tile;
    }

    @include breakpoint(tablet) {
        padding: spacer(2);
        height: 230px;
    }

    @include breakpoint(large_tablet) {
        padding: spacer(3);
    }

    // NOTE: Dependencies:
    .v7-tile-container-features &,
    .v7-tile-container-double & {
        @include breakpoint(tablet) {
            height: initial;
        }
    }

    .v7-tile-container-double & {
        @include breakpoint(tablet) {
            width: calc(50% - 15px);
            max-width: 345px;
        }

        @include breakpoint(large_tablet) {
            max-width: 370px;
        }

        &:nth-child(odd) {
            @include breakpoint(tablet) {
                margin-right: spacer(3);
            }
        }

        &:nth-child(n + 3) {
            @include breakpoint(tablet) {
                margin-top: spacer(3);
            }
        }
    }

    .v7-tile-container-features & {
        @include breakpoint(tablet) {
            padding: spacer(3) spacer(0.5);
        }
    }
}

.v7-tile-image {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;

    .v7-tile-container-features & {
        @include breakpoint(tablet) {
            padding-bottom: spacer(1);
        }
    }

    .v7-tile-container-double & {
        width: 70px;
        height: 70px;

        @include breakpoint(tablet) {
            padding-bottom: spacer(2);
        }
    }
}

.v7-tile-logo {
    justify-content: center;
    height: 120px;
    margin: 0;
    border-radius: 0;

    @include breakpoint(tablet) {
        height: initial;
        border-radius: 5px;
    }
}

.v7-tile-logo-img {
    @include breakpoint(tablet) {
        max-width: 100%;
        max-height: 73px;
        padding: spacer(2);
    }

    @include breakpoint(large_tablet) {
        max-height: 97px;
        padding: spacer(3) spacer(2);
    }

    @include breakpoint(desktop) {
        max-height: 120px;
        padding: spacer(4) spacer(2);
    }
}

.v7-tile-copy {
    padding-left: spacer(2);

    @include breakpoint(tablet) {
        text-align: center;
        padding: 0;
    }
}

.v7-tile-title {
    // FIXME: we can remove nesting when v7 typography is seperated
    .v7-tile-copy & {
        margin-bottom: spacer(.5);
        font-size: $font_size_large;

        @include breakpoint(large_tablet) {
            font-size: $font_size_xlarge;
        }
    }
}
