// Fade In effect
@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.9;
	}
}

@keyframes fade-in-dim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.75;
	}
}

// Fade Out effect
@keyframes fade-out {
	0% {
		opacity: 0.9;
	}

	100% {
		opacity: 0;
	}
}

// Fade In effect
@keyframes fade-in-and-grow {
	0% {
		opacity: 0;
		transform: scale(0.3);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
