.products-personalization {
    --leading-color: DeepSkyBlue;
    --leading-color-hover: DodgerBlue;
}

.products-team-collaboration {
    --leading-color: Gold;
    --leading-color-hover: GoldenRod;
}
